In [ ]:
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer, WordNetLemmatizer
import re
from wordcloud import WordCloud
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
from sklearn.model_selection import train_test_split

In [ ]:
df = pd.read_csv('exams.csv')

In [ ]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,male,group A,high school,standard,completed,67,67,63
1,female,group D,some high school,free/reduced,none,40,59,55
2,male,group E,some college,free/reduced,none,59,60,50
3,male,group B,high school,standard,none,77,78,68
4,male,group E,associate's degree,standard,completed,78,73,68

In [ ]:
df = df[['gender', 'lunch', 'test preparation course', 'math score', 'reading score', 'writing score']]
# df = df[['gender', 'math score']]

In [ ]:
def replacemet_gender(information):
    if information == 'male':
        return 1        
    else:        #elif emotioin == 'female': return 0
        return 0
    
df['gender'] = df['gender'].apply(lambda x:replacemet_gender(x))

In [ ]:
def replacemet_course(information):
    if information == 'completed':
        return 1        
    else:        #elif emotioin == 'none': return 0
        return 0

df['test preparation course'] = df['test preparation course'].apply(lambda x:replacemet_course(x))

In [ ]:
def replacemet_lunch(information):
    if information == 'standard':
        return 1        
    else:        #elif emotioin == 'none': return 0
        return 0

df['lunch'] = df['lunch'].apply(lambda x:replacemet_lunch(x))

In [ ]:
x = df.drop(['gender'], axis=1)
y = df['gender']
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.20)

In [ ]:
df.head()

,gender,lunch,test preparation course,math score,reading score,writing score
0,1,1,1,67,67,63
1,0,0,0,40,59,55
2,1,0,0,59,60,50
3,1,1,0,77,78,68
4,1,1,1,78,73,68

In [ ]:
def vectorize_sequences(sequences, dimension=30000):
    results = np.zeros((len(sequences), dimension))
    for i, sequence in enumerate(sequences):
        for j in sequence:
            results[i, j] = 1.
    return results

In [ ]:
x_train = np.asarray(df).astype("float32")
x_test = np.asarray(df).astype("float32")

array([[ 1.,  1.,  1., 67., 67., 63.],
       [ 0.,  0.,  0., 40., 59., 55.],
       [ 1.,  0.,  0., 59., 60., 50.],
       ...,
       [ 0.,  0.,  0., 32., 35., 41.],
       [ 0.,  1.,  0., 73., 74., 82.],
       [ 1.,  1.,  1., 65., 60., 62.]], dtype=float32)

In [ ]:
y_train = np.asarray(df['gender']).astype("float32")
y_test = np.asarray(df['gender']).astype("float32")

In [ ]:
model = keras.Sequential([
    layers.Dense(32, activation="relu"),
    layers.Dense(1, activation="sigmoid")
])

model.compile(optimizer="rmsprop",
              loss="binary_crossentropy",
              metrics=["accuracy"])

history = model.fit(x_train,
                    y_train,
                    epochs=20,
                    batch_size=16,
                    validation_split=0.2,
                    shuffle = True,
                    verbose = 2 )

Epoch 1/20
50/50 - 1s - loss: 1.6303 - accuracy: 0.3313 - val_loss: 0.9457 - val_accuracy: 0.3450 - 1s/epoch - 27ms/step
Epoch 2/20
50/50 - 0s - loss: 0.8637 - accuracy: 0.4338 - val_loss: 1.0096 - val_accuracy: 0.4450 - 194ms/epoch - 4ms/step
Epoch 3/20
50/50 - 0s - loss: 0.6447 - accuracy: 0.6275 - val_loss: 0.5385 - val_accuracy: 0.7600 - 193ms/epoch - 4ms/step
Epoch 4/20
50/50 - 0s - loss: 0.4851 - accuracy: 0.8112 - val_loss: 0.4034 - val_accuracy: 0.8650 - 302ms/epoch - 6ms/step
Epoch 5/20
50/50 - 0s - loss: 0.3963 - accuracy: 0.8750 - val_loss: 0.3321 - val_accuracy: 0.9500 - 188ms/epoch - 4ms/step
Epoch 6/20
50/50 - 0s - loss: 0.3592 - accuracy: 0.8813 - val_loss: 0.2802 - val_accuracy: 0.9600 - 218ms/epoch - 4ms/step
Epoch 7/20
50/50 - 0s - loss: 0.2953 - accuracy: 0.9250 - val_loss: 0.3036 - val_accuracy: 0.9150 - 279ms/epoch - 6ms/step
Epoch 8/20
50/50 - 0s - loss: 0.2569 - accuracy: 0.9413 - val_loss: 0.2223 - val_accuracy: 0.9650 - 195ms/epoch - 4ms/step
Epoch 9/20
50/50 - 0s - loss: 0.2514 - accuracy: 0.9175 - val_loss: 0.2106 - val_accuracy: 0.9550 - 173ms/epoch - 3ms/step
Epoch 10/20
50/50 - 0s - loss: 0.2126 - accuracy: 0.9575 - val_loss: 0.1831 - val_accuracy: 0.9600 - 235ms/epoch - 5ms/step
Epoch 11/20
50/50 - 0s - loss: 0.1941 - accuracy: 0.9475 - val_loss: 0.1841 - val_accuracy: 0.9400 - 230ms/epoch - 5ms/step
Epoch 12/20
50/50 - 0s - loss: 0.1789 - accuracy: 0.9588 - val_loss: 0.2069 - val_accuracy: 0.9450 - 192ms/epoch - 4ms/step
Epoch 13/20
50/50 - 0s - loss: 0.1738 - accuracy: 0.9563 - val_loss: 0.1459 - val_accuracy: 0.9750 - 228ms/epoch - 5ms/step
Epoch 14/20
50/50 - 0s - loss: 0.1504 - accuracy: 0.9712 - val_loss: 0.1644 - val_accuracy: 0.9700 - 246ms/epoch - 5ms/step
Epoch 15/20
50/50 - 0s - loss: 0.1482 - accuracy: 0.9663 - val_loss: 0.1255 - val_accuracy: 0.9850 - 193ms/epoch - 4ms/step
Epoch 16/20
50/50 - 0s - loss: 0.1306 - accuracy: 0.9825 - val_loss: 0.1156 - val_accuracy: 0.9850 - 191ms/epoch - 4ms/step
Epoch 17/20
50/50 - 0s - loss: 0.1127 - accuracy: 0.9787 - val_loss: 0.1088 - val_accuracy: 0.9750 - 138ms/epoch - 3ms/step
Epoch 18/20
50/50 - 0s - loss: 0.1067 - accuracy: 0.9800 - val_loss: 0.0979 - val_accuracy: 0.9900 - 291ms/epoch - 6ms/step
Epoch 19/20
50/50 - 0s - loss: 0.0987 - accuracy: 0.9862 - val_loss: 0.1689 - val_accuracy: 0.9250 - 187ms/epoch - 4ms/step
Epoch 20/20
50/50 - 0s - loss: 0.1026 - accuracy: 0.9775 - val_loss: 0.0778 - val_accuracy: 0.9900 - 252ms/epoch - 5ms/step

In [ ]:
print(model.summary())

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_2 (Dense)             (None, 32)                224

 dense_3 (Dense)             (None, 1)                 33

=================================================================
Total params: 257
Trainable params: 257
Non-trainable params: 0
_________________________________________________________________
None

In [ ]:
score = model.evaluate(x_test, y_test, verbose=0) 
print('Test score:', score[0]) 
print('Test accuracy:', score[1])

Test score: 0.0962325856089592
Test accuracy: 0.9750000238418579